
/**
media query for card title text adjustments to different sized screens
 */
@media only screen and (max-width: 320vw) {

	.card-title {
		font-size: 10vw;
	}
}

/**
All text on page set to lucida sans unicode
 */
.container-fluid {
	font-family: "Lucida Sans Unicode";
}

/**
Orange border for the hamburger pic
 */
.orange-border {
	border: 1rem solid orangered;
}


/**
orange border for the profile pic
 */
.about-me img {
	border: 1rem solid orangered;
}

/**
button coloring for whatsforlunch button and send button in contacts
 */
.btn {
	background-color: orangered;
	color: white;
}

/**
coloring for fontAwesome images in contact section
 */
.topic {
	background-color: orangered;
	color: white;
}


/*.carousel-inner {*/
	 /*width: 600px;*/
	 /*height: 600px;*/
 /*}*/


/*.pic {*/
	/*width: auto;*/
	/*height: 600px;*/
	/*margin: auto;*/
	/*display: block;*/
/*}*/



