/**
.backgroundImg {
	background-image: url("pexels-photo-office.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
*/

/**
check into media query for editing the text when you change sizes to smaller devices
 */

@media only screen and (max-width: 320vw) {

	.card-title {
		font-size: 10vw;
	}
}

.container-fluid {
	font-family: "Lucida Sans Unicode";
}

.orange-border {
	border: 1rem solid orangered;
}

/*.portfolio img {*/
	/*border: 1rem solid orangered;*/
/*}*/

.about-me img {
	border: 1rem solid orangered;
}

.btn-lg {
	color: black;
	background-color: orangered;
}

.btn {
	background-color: orangered;
	color: white;
}

.topic {
	background-color: orangered;
	color: white;
}


/*.carousel-inner {*/
	 /*width: 600px;*/
	 /*height: 600px;*/
 /*}*/


.pic {
	width: auto;
	height: 600px;
	margin: auto;
	display: block;
}



