/**
.backgroundImg {
	background-image: url("pexels-photo-office.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
*/

.card-title {
	font-size: 10em;
}

.container-fluid {
	font-family: "Lucida Sans Unicode";
}

.border {
	border-width: 10rem; !important;
}

