/**
.backgroundImg {
	background-image: url("pexels-photo-office.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
*/

/**
check into media query for editing the text when you change sizes to smaller devices
 */

@media only screen and (max-width: 320vw) {

	.card-title {
		font-size: 10vw;
	}
}

.container-fluid {
	font-family: "Lucida Sans Unicode";
}

.orange-border {
	border: 1rem solid orangered;
}

/*.portfolio img {*/
	/*border: 1rem solid orangered;*/
/*}*/

.about-me img {
	border: 1rem solid orangered;
}

.btn-lg {
	color: black;
	background-color: orangered;
}

.btn {
	background-color: orangered;
	color: white;
}

.topic {
	background-color: orangered;
}


/*!*.carousel-inner {*!*/
	/*!*width: 700px;*!*/
	/*!*height: 550px;*!*/
/*!*}*!*/


/*.image-fluid {*/
	/*width: 700px;*/
	/*height: 550px;*/
	/*!*margin: auto;*!*/
	/*!*display: block;*!*/
/*}*/



