/**
.backgroundImg {
	background-image: url("pexels-photo-office.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
*/

/**
check into media query for editing the text when you change sizes to smaller devices
 */

@media only screen and (max-width: 320vw) {

	.card-title {
		font-size: 10vw;
	}
}

.container-fluid {
	font-family: "Lucida Sans Unicode";
}

.portfolio img {
	border: 1rem solid deepskyblue;
}

.about-me img {
	border: 1rem solid deepskyblue;
}



